/*首页导航*/
body {
    font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
}

/* header */

.navbar-static-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #00b5ad;
    margin-bottom: 40px;
    margin-top: 0px;
}
/* 页脚固定样式 */
html {
    position: relative;
    min-height: 100% ;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100% ;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #000;
}
.footer .container {
    padding-right: 15px;
    padding-left: 15px;
}
.footer .container p {
    margin: 19px 0;
    color: #c1c1c1;
}
.footer .container p a{
    color: inherit;
}
/*验证码样式*/

.register-page img.captcha {
    margin-bottom: 0px;
    margin-top: 10px;
    cursor: pointer;
}
/*// show 用户头像*/
.users-show-page .user-info .thumbnail{
    margin-bottom: 0px;
}
/*右边模块信息*/
/* Topic Index Page */
/*.topics-index-page, .categories-show-page {*/
    .topic-list .nav > li > a {
        position: relative;
        display: block;
        padding: 5px 14px;
        font-size: 0.9em;
    }
    .topic-list a{
        color: #444444;
    }
    .topic-list .meta {
        font-size:0.9em;
        color: #b3b3b3;
    }
    .topic-list .meta a {
        color: #b3b3b3;
    }
    .topic-list .badge {
        background-color: #d8d8d8;
    }
    .topic-list hr {
        margin-top: 12px;
        margin-bottom: 12px;
        border: 0;
        border-top: 1px solid #dcebf5;
    }
/*}*/
/*.topics-index-page {
    .topic-list {
        .nav > li > a {
            position: relative;
            display: block;
            padding: 5px 14px;
            font-size: 0.9em;
        }
        a {
            color: #444444;
        }
        .meta {
            font-size:0.9em;
            color: #b3b3b3;
            a {
               color: #b3b3b3;
            }
        }
        .badge {
            background-color: #d8d8d8;
        }
        hr {
            margin-top: 12px;
            margin-bottom: 12px;
            border: 0;
            border-top: 1px solid #dcebf5;
        }
    }
}*/

